header{
    position: fixed;
    top: 0;
    z-index: 50;
}
header img{
    width: 200px;
    display: flex;
    z-index: 50;
    position: relative;
    object-fit: cover;
}

.nav {
  position: absolute;
  top: 0;
  height: auto;
  background: #00000085;
  width: max-content;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 0 0 20px 0;
}

.nav.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  padding: 150px 10px 0 10px;
}

.nav ul {
  list-style: none;
  margin: 0;
}

.nav li {
  margin: 1rem 0;
  text-align: center;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width : 767px){
    header{
      width: 60%;
    }
    header img{
        width: 100px;
    }
    .nav{
        height: auto;
    }
    .nav.open{
        padding: 78px 10px 0 10px;
    }
}


/* SOUS MENU */

.dropdown {
    list-style: none;
}

/* sous menu intégré */
.submenu {
    list-style: none;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-5px);
    transition:
        max-height 0.4s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
}

/* items */
.submenu li a {
    display: block;
    color: #fff;
    padding-top: 5px;
    text-decoration: none;
}

/* hover = le menu s'agrandit */
.dropdown:hover .submenu {
    max-height: 85px; /* assez grand pour contenir les items */
    opacity: 1;
    transform: translateY(0);
}
.dropdown-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.arrow {
  font-size: 15px;
  transition: transform 0.3s ease;
}

/* rotation quand hover */
.dropdown:hover .arrow {
  transform: rotate(-90deg);
}

.dropdown > a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}