.difference {
  background-image: url('../../../../public/background-green.png');
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.difference-title {
  text-align: center;
  background-color: #7abd73b8;
  margin-bottom: 36px;
}
.difference-title .section-title {
  font-size: clamp(0.95rem, 2vw, 1.2rem);
  line-height: 1.4;
  max-width: 620px;
  margin: 0 auto;
}

.difference-title h2{
  font-family: 'Kodchasan';
}

.difference-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.diff-card {
  background-color: #ce82bbbc;
  padding: 20px;
  text-align: center;
  width: 300px;
  font-family: 'Gill Sans', sans-serif;
  text-align: justify;
}
.diff-card strong {
  display: block;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 8px;
}