.about-agence-container{
    padding: 50px;
    gap: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #000000;
    text-align: center;
    text-transform: uppercase;
}
.about-agence-content{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
}
.about-agence-content section{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.about-agence-content img{
    width: 200px;
    height: 25vh;
    object-fit: cover;
}
.about-agence-content h2{
    font-size: 17px;
    text-transform :initial;
    font-family: 'Kodchasan';
}
.about-agence-content p{
    font-size: 16px;
    text-transform :initial;
    text-align: justify;
}
.about-agence-content h3{
    font-size: 17px;
    text-transform :initial;
}
/* .about-agence-content a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform :initial;
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 15px;
} */
.about-agence-cta{
    display: grid;
    width: 100%;
    padding: 0 20px;
    grid-template-columns: 60% 40%;
}
.about-agence-cta-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    font-size: 30px;
    font-family: 'Kodchasan';
}
.about-agence-cta-left h2{
    font-family: 'Kodchasan';
    text-align: start;
    max-width: 450px;
}
.subtitle-atout{
    text-transform: initial;
    width: 400px;
}
.about-agence-cta-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: initial;
    gap: 10px;
}
.about-agence-content .texte-give{
    font-weight: 900;
    font-size: 17px;
}
/* .about-agence-cta-right a{
    font-size: 14px;
    border: 1px solid #FFF;
    border-radius: 25px;
    padding: 5px 10px;
} */

.about-agence-title{
    font-size: 17px !important;
    text-transform: initial !important;
    font-family: 'Kodchasan';
}

@media screen and (max-width : 767px) {
    .about-agence-container{
        height: auto;
        padding: 0px 20px 50px 20px;
        gap: 25px;
    }
    .about-agence-content{
    grid-template-columns: 1fr ;
}
    .about-agence-content section {
        padding: 0;
    }
    .about-agence-content img{
        width: 120px;
        height: auto;
    }
    .about-agence-cta{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }
    .subtitle-atout{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}