li.services-texte{
    width: auto;
}

/* Keyframes for scrolling left */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.list-services-details{
    height: 500px;
}
.modal-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.satisfaction-title{
    padding: 50px 50px 0 50px;
}
.modal-subtitle{
    font-size: 20px;
    text-align: center;
}
.modal-cta{
    text-align: end;
    width: 100%;
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    padding: 0 50px 50px 50px;
    }
.project-name{
    color: #fff;
    text-align: center;
    font-size: 25px;
}

.modal-header h2{
    padding: 20px;
    font-family: 'JosefinSans';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    }
.modal-title{
    width: 90%;
    padding: 10px 0;
}
.modal-header h3{
    font-family: 'JosefinSans';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.group-image{
    width: 50%;
}
.group-image img{
    width: 100%;
    height: 120px;
    object-fit: contain;
}
.group-image-details{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
    align-items: center;
}
.group-detail{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-projet-before, .detail-projet-after{
    height: 100px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.detail-projet-tag{
    background-color: #ce82bb;
    padding: 10px;
    width: 230px;
    border-radius: 50px;
}
.modal-objectif-results{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.modal-main-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.modal-info-text{
    padding: 15px;
    background-color: #ffffff66;
    color: #000000;
    text-align: start;
}
.modal-objectif-results li{
    list-style: none;
}
.modal-objectif-results h2{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
    font-family: 'JosefinSans';
}
.modal-description{
    text-transform: uppercase;
}
.modal-result-item span{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Gill Sans', sans-serif;
}
.list-services-details{
    background-image: url('../../../../public/background-pink.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 100%;
}
.background-services{
    height: 50vh;
    width: calc(100% + 110px);
    object-fit: cover;
    position: absolute;
}
.list-intervention-detail{
    z-index: 1;
    width: 20%;
}

/* NOUVEAU CSS POUR LE CARROUSEL */
.carousel-container {
    position: relative;
    width: 100%;
    height: 280px;
}

.projects-carousel {
    overflow: hidden;
    margin: 0 60px;
    position: relative;
    z-index: 2;
    height: 100%;
}

.projects-track {
    display: flex;
    align-items: center;
    animation: scroll-left 30s linear infinite;
    height: 100%;
    gap: 10px;
}

.project-card {
    flex-shrink: 0;
    width: 35%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card-content {
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    height: 100%;
    color: black;
    padding: 25px;
    background: rgba(255, 255, 255, 0.1); /* transparence */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.project-image {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.project-link-icon {
    color: #888;
}

.project-card p{
    text-align: center;
}

.satisfaction-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.satisfaction-title h3{
    font-family: 'Kodchasan';
    text-transform: uppercase;
}
.arrow-projet{
    height: 50px;
    width: 50px;
    position: relative;

}
@media (max-width : 767px) {
    .satisfaction-title{
        padding:20px 20px 20px 20px ;
    }
    .list-services-details{
        padding: 20px 10px;
        height: 400px;
    }
    .projects-carousel{
        margin: 0;
    }
    .project-card-content{
        padding: 15px;
    }
    .project-card{
        width: 100%;
    }
    .projects-track {
    animation: scroll-left 10s linear infinite;
}
.list-services.projets{
    gap: 25px;
    padding: 0;
}
.modal-cta{
    padding: 0 20px 20px 20px;
}
.modal-header h2, .modal-objectif-results h2{
    font-size: 18px;
}
.modal-header h3{
    font-size: 15px;
}
.group-image{
    width: 40%;
}
.group-detail{
    width: 60%;
    gap: 25px;
    position: relative;
}
.detail-projet-tag{
    width: auto;
}
.group-image-details{
    gap: 10px;
}

.detail-projet-tag p{
    font-size: 15px;
}
.arrow-projet{
    height: 50px;
    width: 50px;
}

.modal-objectif-results{
    padding: 10px;
}
.detail-projet-before, .detail-projet-after{
    height: auto;
}
}