.form-container{
    background-color: #ce82bb;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.form-container h1{
    color: #000;
}

form{
    color: #000;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    background-color: #ce82bb;
    border: solid 1px #000;
    height: 50px;
}
form label{
    font-size: 22px;
    font-family: 'Gill Sans', sans-serif;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}
.group-form{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.group-form div{
    width: 50%;
    margin-bottom: 0;
}

.group-form.checkbox{
    gap: 0;
    align-items: center;
    gap: 50px;
}
.group-form.checkbox div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: fit-content;
}
#select-offre{
    height: 50px;
    background-color: #ce82bb;
    color: #000;
    border: #000 1px solid;
    font-size: 20px;
    text-transform: uppercase;
}

.besoin{
    height: 100px;
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 50%; /* ← rend le rond */
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: black;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
}

aside{
    position: absolute;
    top: 50px;
    right: 50px;
}

aside p{
    width: 140px;
    height: 140px;
    text-align: center;
    padding: 15px;
    background-color: #000;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', sans-serif;

}
.contact-reseau{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: fixed;
    right: 50px;
}
a img{
    width: 50px;
    height: 50px;
}
.contact-reseau a:hover{
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width : 320px) and (max-width : 768px) {
    .form-container{
        padding:70px 20px 20px 20px;
    }
    .form-container h1{
        text-align: center;
    }
    form{
        width: auto;
    }
    .group-form{
        flex-direction: column;
        gap: 15px;
    }
    .group-form div{
        width: 100%;
    }
    form label, #select-offre{
        font-size: 18px;
    }
    .group-form.checkbox{
        gap: 10px;
    }
    aside{
        position: initial;
        background-color: #ce82bb;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
    .contact-reseau{
        position: initial;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contact-reseau a img{
        width: 30px;
    }
}