body{
    background-color: #000;
}

h1{
    text-align: center;
}


.legal-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 50px 20px ;
}

.legal-container div{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

article h2{
    color: #ffffff;
    font-family: "Kodchasan", sans-serif;
    font-size: 22px;
    margin: 10px 0;
}
article h3{
    color: #ffffff;
    font-family: "Kodchasan", sans-serif;
    font-size: 18px;
    margin: 10px 0;
}
li{
    list-style: none;
}

@media  screen and (max-width : 768px) {
    .legal-container{
        padding: 65px 20px 20px 20px ;
    }
}