.banner-agence{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url('../../../../../public/un-bureau-lumineux.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
h1, h2{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
h1 span{
    font-size: 35px;
}
.banner-avis{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.banner-avis-texte{
    display: flex;
    flex-direction: column;
}
.banner-agence-texte{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.banner-agence-texte aside{
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}
.banner-marionfabrice{
    width: 400px;
    object-fit: cover;
}