.reviews-container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
    width: 100%;
    overflow: hidden;
}
.reviews-title{
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.reviews-subtitle{
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.review-title{
    font-size: 17px;
    font-family: 'Kodchasan' !important;
    text-transform: uppercase !important;
    text-align: center !important;
    text-shadow: 0 0 6px #000000;
    color: #fff !important;
}
.icon-smile{
    width: 45px;
    height: 45px;
    object-fit: cover;
    position: relative;
    bottom: -10px;
}
.reviews-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    align-items: center;
}
.reviews-content aside{
    padding: 10px;
    gap: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.reviews-content h3{
    font-size: 17px;
    font-family: 'Kodchasan';
    text-transform: uppercase;
}
.reviews-content aside:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.first-review, .second-review, .third-review{
    height: auto;
    width: 300px;
}
.first-review h3, .second-review h3, .third-review h3{
    text-shadow: 0 0 6px #000000;
}
.first-review p, .second-review p, .third-review p{
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    text-transform: initial;
    color: #000000;
    text-align: justify;
    font-family: 'Gill Sans', sans-serif;
}
.first-review{
    background-color: #ce82bb;
}
.second-review{
    background-color: #7abd73;
}
.third-review{
    background-color: #5aceb8;
}

@media screen and (max-width : 767px) {
    .reviews-content{
        flex-wrap: wrap;
        height: auto;
        gap: 25px;

    }
    .reviews-container{
        height: auto;
        padding: 50px 20px;
        gap: 25px;
    }
}